.services{
    padding-top:$section-padding;
    padding-bottom: $section-padding;
    // betrachtet nur nur services-icons innerhalb von services*/
    .services-icon{
        //Icon ist text//
        padding-top:0.25rem; //alternativ line-height//@at-root
        font-size:2rem;
        border: 2px solid $primary;
        color: $primary;
        text-align: center;
        width:4rem;
        height:4rem;
        border-radius:50%;
        margin: 0px auto 0.75rem auto; 
             // oben 0, rest auto-> zentriert//
    }
}
